$colorPrimary: #7474bf;
$colorSecondary: #348ac7;
$todoOdd: #e3dede;
$todoEven: #a3a1a1;
$btnColor: #8b8687;
$doneTodo: #c0392b;
$submitBtn: #27ae60;
$deleteBtn: #e74c3c;

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: $colorPrimary;
  background: linear-gradient(to left, $colorSecondary, $colorPrimary);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
