@import "base";

#title {
  display: block;
  font-weight: 900;
  color: #000;
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

// Form display

#todo {
  width: 40rem;
  padding-bottom: 0.5rem;
  margin: 2rem auto;
  background: #eee;
  text-align: center;

  @media only screen and (max-width: 40em) {
    width: 35rem;
  }
  @media only screen and (max-width: 35em) {
    width: 30rem;
  }
}

#list {
  list-style: none;

  li {
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;

    &:nth-child(odd) {
      background: $todoOdd;
    }

    &:nth-child(even) {
      background: $todoEven;
    }
  }
}

// Button styles

button {
  margin-right: 0.5rem;
  border: none;
  color: #fff;
  padding: 0.6rem;
  background-color: $deleteBtn;
  border-radius: 0.8rem;
  outline: none;
  cursor: pointer;

  &:active {
    transform: translateY(0.1rem);
    box-shadow: 0 0.1rem 0.1rem #333;
  }

  &.form-btn {
    background-color: $submitBtn;
    margin-right: 0;
    padding: 0.8rem;
  }
}

// Input styles

input[type="text"] {
  font-size: 1.8rem;
  width: 80%;
  margin-bottom: 1rem;
  outline-color: $colorPrimary;
}

// JS Generated Classes:

.done-todo-js {
  text-decoration: line-through;
  color: $doneTodo;
}
.hidden-js {
  display: none;
}

.error-js {
  font-size: 1.4rem;
  background-color: orange;
  padding: 1rem;
  font-weight: bolder;
}
