@import "base";

.title {
  display: block;
  font-weight: 900;
  color: #000;
  font-size: 3rem;
  margin-bottom: 0.8rem;
  padding-top: 1rem;
}

// Form display

.todo {
  width: 40rem;
  // padding-bottom: 0.5rem;
  margin: 2rem auto;
  background: #eee;
  text-align: center;

  @media only screen and (max-width: 40em) {
    width: 35rem;
  }
  @media only screen and (max-width: 35em) {
    width: 30rem;
  }
}

.list {
  list-style: none;

  li {
    text-align: left;
    font-size: 1.8rem;
    // margin-bottom: 0.5rem;
    padding-left: 1rem;
    word-break: break-all;
    padding: 0.6rem;
    &:nth-child(odd) {
      background: $todoOdd;
    }

    &:nth-child(even) {
      background: $todoEven;
    }
  }
}

// Button styles

button {
  margin-right: 0.5rem;
  border: none;
  color: #fff;
  padding: 0.6rem;
  background-color: $deleteBtn;
  border-radius: 0.8rem;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.2rem #333;
  transition: all 0.25s;
  text-transform: uppercase;

  &:active {
    transform: translateY(0.1rem);
    box-shadow: none;
  }

  &.form-btn {
    background-color: $submitBtn;
    margin-right: 0;
    padding: 0.8rem;
    position: relative;
    bottom: 0.3rem;
    margin-left: 0.4rem;
    @media only screen and (max-width: 40em) {
      margin-left: 0.1rem;
    }
    @media only screen and (max-width: 35em) {
      width: 50%;
      margin-bottom: 0.4rem;
      bottom: 2;
    }
  }
}

// Input styles

#input {
  font-size: 2rem;
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.25rem;
  // outline-color: $colorPrimary;
  // height: 3rem;
}

// JS Generated Classes:

.done-todo-js {
  text-decoration: line-through;
  color: $doneTodo;
}
.hidden-js {
  opacity: 0;
  // transform: translateX(-100%);
}

.error-js {
  font-size: 1.4rem;
  background-color: orange;
  padding: 1rem;
  font-weight: bolder;
}

.submit-js {
  transform: translateY(0.1rem);
  box-shadow: none;
}
