*::before,
*::after,
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $colorPrimary;
  background: linear-gradient(to left, $colorSecondary, $colorPrimary);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
